<section class="band" id="about" aria-labelledby="madeby-h">
  <div class="band-inner madeby">
    <img src="{ROOT}mark.jpg" alt="Mark Flournoy" width="64" height="64" loading="lazy" decoding="async">
    <div>
      <h2 id="madeby-h">Made by Mark.</h2>
      <p>I spent six years leading federal partner sales teams at Amazon, after plenty of years carrying a number myself. QuotaBird is mostly stuff I wish we'd had back then. Most of it's free. If the problem's messier than a little tool can handle, we can talk it through.</p>
      <p class="madeby-links"><a class="btn btn-primary" href="/ask/">Ask Mark</a><a href="/about/">About Mark</a></p>
    </div>
  </div>
</section>

